@tailwind base;
@tailwind components;
@tailwind utilities;

.like-btn {
	transition: all .5s;
	transform: scale(1.5);
	fill: rgb(206, 204, 204);
	outline: none;
}

.like-btn--active {
	fill: crimson;
}

.pagination {
	display: flex;
	justify-content: space-around;
	font-size: 1.2rem;
	font-weight: 600;
	color: rgb(9, 9, 56);
}

.active {

}